<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>URL短縮サービス</title>
        <meta name="description" content="URLを短縮するサイトです。">
        <meta name="keywords" content="短縮,URL,URL短縮,短縮URL">    
        <meta name="theme-color" content="#6E3DD9">
        <link rel="stylesheet" href="/css/style.css">
        <meta name=”robots” content=”noindex”/>
    </head>
    <body>
        <div id="free">
        <table>
            <% for(var i in content) { %>
                <tr>
                    <% var obj = content[i]; %>
                    <th class="admin"><%= Number(i)+1 %>：<%= obj.original %></th>
                    <td class="admin"><%= obj.tiny %></td>
                </tr>
            <% } %>
        </table>
        <form method="POST" action="/admin/delete">
            <% for(var n in content) { %>
                <% let number = content[n]; %>
                <input type="checkbox" name="delnum" value="<%=content[n].tiny %>"><%= Number(n)+1 %></input>
            <% } %>
            <p><input type="submit" value="消去"></p>
        </form>
        <form method="POST" action="/admin/alldelete">
            <p><input type="submit" value="全消去"></p>
        </form>
        </div> 
    
        <div id="premiumadd">
            <form method="POST" action="/admin/premiumadd">
                <p><input type="text" name="id"></p>
                <p><input type="submit" value="追加"></p>
                <p><input type="submit" name="demo" value="デモとして追加"></p>
            </form>
        </div>
    </body>
</html>